server {
  listen ${PROXY_PORT} ssl;
  http2 on;

  ssl_certificate /usr/local/proxy/server.cert.pem;
  ssl_certificate_key /usr/local/proxy/server.key.pem;

  location / {
    grpc_pass grpc://${ZEEBE_HOSTNAME}:${ZEEBE_PORT};
  }
}